<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
</head>
<body>
    <header>
        <h1>Centro de Ayuda</h1>
    </header>
    <section>
      <header>
        <h2>Redes de Sociales</h2>
      </header>
      <main>
        <ul>
            <li>Red 1</li>
            <li>Red 2</li>
            <li>Red 3</li>
            <li>Red 4</li>
        </ul>
      </main>
    </section>
</body>
</html>