<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
</head>
<body>
    <header>
        <h1>Crea tu cuenta</h1>
    </header>
    <main>
        <h3>Llena todos los campos, para que el registro sea exitoso</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Alias dolorum voluptates libero quis. Molestiae eum eos possimus 
            aspernatur dolore hic repellendus atque inventore ab distinctio autem, 
            nemo libero cupiditate natus.
        </p>
    </main>
</body>
</html>