<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styless.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo-Mercado-Liebre">
                </a>
            </div>
            <div class="search-barra">
                <form method="GET" class="form-search">
                    <input type="search" id="search" name="search" placeholder="Buscar, productos, marcas...">
                    <button class="button-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
            <div class="forma-de-pagos">
                <p>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de credito
                </p>
            </div>
        </div>
        <nav class="navBar">
            <ul class="navbar-item">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="tiendasOficales.html">Tiendas Oficiales</a></li> <!-- link -->
                <li><a href="vender.html">Vender</a></li>
                <li><a href="#ayuda">Ayuda</a></li>
            </ul>
            <ul class="navbar-item">
                <li><a href="register.html">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <!-- VER SI ESCRIBIR DENTRO DE <a>-->
                <li> <a href="login.html">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li> <a href="misCompras.html">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu-container">
            <button class="button-burguer">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </header>
    <div>
        <img src="/images/img-home-banner.jpg" alt="Banner">
    </div>
    <main>

        <section class="productos-section">
            <h3 class="subtitle-section">Basado en tu ultima vista</h3>
            <div class="products">
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$6770</p>
                            <p class="descuento">40% Off</p> 
                        </div>
                        <p class="nombre-producto">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% Off</p>
                        </div>
                        <p class="nombre-producto">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% Off</p>
                        </div>
                        <p class="nombre-producto">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Samsung SmartTv">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% Off</p>
                        </div>
                        <p class="nombre-producto">Samsung Galaxy S10</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="productos-section" id="ofertas">
            <h3 class="subtitle-section">Seccion Ofertas</h3>
            <div class="products">
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$6770</p>
                            <p class="descuento">40% Off</p>
                        </div>
                        <p class="nombre-producto">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% Off</p>
                        </div>
                        <p class="nombre-producto">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% Off</p>
                        </div>
                        <p class="nombre-producto">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen Samsung SmartTv">
                    </div>
                    <div class="container-description-product">
                        <div class="icon-truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="container-precio-desc">
                            <p class="precio">$23.200</p>
                            <p class="descuento">10% Off</p>
                        </div>
                        <p class="nombre-producto">Samsung Galaxy S10</p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
        <div class="items-footer">
            <div class="item-footer">
                <div class="icono-footer">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h5>Pagá con tarjeta o en efectivo</i> </h5>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="item-footer">
                <div class="icono-footer">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h5>Envío gratis desde $ 2.500</h5>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="item-footer">
                <div class="icono-footer">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h5> Seguridad, de principio a fin</h5>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>