<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styless.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=VT323&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de la Empresa">
        </div>
        <div class="barra-busqueda">
            <p>Buscar productos, marcas </p>
        </div>
        <div class="image-lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="center">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p class="inline">Compra en Cuotas y sin Tarjetas de Credito</p>
        </div>
        <div id="mobile-no-mostrar">
            <nav>
                <ul>
                    <li><a href="ofertas.html"><u>Ofertas</u></a></li>
                    <li><a href="tiendasOficales.html"><u>Tiendas Oficiales</u></a></li>
                    <li><a href="vender.html"><u>Vender</u></a></li>
                    <li><a href="ayuda.html"><u>Ayuda</u></a></li>
                </ul>
            </nav>
            <nav class="iconos-header">
                <ul>
                    <li><a href="cuenta.html"><u>Crea tu Cuenta <i class="fa-regular fa-id-card"></i></u></a></li>
                    <li><a href="ingresar.html"><u>Ingresar <i
                                    class="fa-solid fa-right-to-bracket fa-beat-fade"></i></u></a></li>
                    <li><a href="misCompras.html"><u>Mis Compras <i class="fa-solid fa-basket-shopping"></i></u></a></li>
                </ul>
            </nav>
        </div>
        <div class="burguer-menu" id="mobile-si-mostrar">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="image-banner">
        <img src="/images/img-home-banner.jpg" alt="Imgen de Home Banner">
    </div>
    <main class="main-caracteristicas">
        <section>
            <h2 class="title">Basado en tu última visita</h2>
            <article class="article-details">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$6.770</strong></div>
                    <div class="descuento"><strong>40% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">Cafetera Moulinex</h3>
                </article>
            </article>
            <article class="article-details">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macboock">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$230.000</strong></div>
                    <div class="descuento"><strong>20% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">MacBook Pro 2019</h3>
                </article>
            </article>
            <article class="article-details">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$70.500</strong></div>
                    <div class="descuento"><strong>10% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">Samsung Galaxy S10</h3>
                </article>
            </article>
            <article class="article-details">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$23.200</strong></div>
                    <div class="descuento"><strong>5% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">SmartTv Samsung 43</h3>
                </article>
            </article>
        </section>
        <section>
            <header id="title-ofertas">
                <h1 class="title">Seccion de Ofertas</h1><br>
            </header>
            <article class="article-details">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$6.770</strong></div>
                    <div class="descuento"><strong>40% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">Cafetera Moulinex</h3>
                </article>
            </article>
            <article class="article-details">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macboock">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$230.000</strong></div>
                    <div class="descuento"><strong>20% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">MacBook Pro 2019</h3>
                </article>
            </article>
            <article class="article-details">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$70.500</strong></div>
                    <div class="descuento"><strong>10% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">Samsung Galaxy S10</h3>
                </article>
            </article>
            <article class="article-final">
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43">
                <article class="box-article">
                    <span class="shipping">
                        <i class="fa-solid fa-truck"></i>
                    </span>
                    <div class="precio"><strong>$23.200</strong></div>
                    <div class="descuento"><strong>5% OFF</strong></div>
                    <h3 id="mobile-no-mostrar">SmartTv Samsung 43</h3>
                </article>
            </article>
        </section>
    </main>
    <br>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p id="subir">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p id="subir">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <header>
                <h3>Seguridad, de principio a fin</h3>
            </header>
            <p id="subir">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        <p class="copy-ubicar">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>