<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
</head>
<body>
    <header>
        <h1>Ingresa con tu cuenta</h1>
    </header>
    <main>
        <p>Rellena los campos obligatorios y no pongas limites a tus deseos</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aliquam, 
            quis nostrum facilis rem molestias deleniti ullam a esse dolorum, 
            in ratione, autem itaque iure cumque magnam assumenda quasi repellendus?</p>
    </main>
</body>
</html>