<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Compras</title>
</head>

<body>
    <header>
        <h2>Mis productos</h2>
    </header>
    <main>
        <section>
            <header>
                <h3>Producto 1</h3>
            </header>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Quasi numquam quidem, similique ratione aut debitis? Fugit, hic fugiat animi
                dicta officiis aliquam quas! Sit, perspiciatis non vero quis debitis deleniti!</p>
        </section>
        <section>
            <header>
                <h3>Producto 2</h3>
            </header>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quis id,
                soluta rerum fuga consequatur accusamus unde consequuntur dolor commodi
                molestias officia ab praesentium, natus illum nam facere, reiciendis adipisci.
            </p>
        </section>
    </main>
</body>

</html>