<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofetas</title>
</head>
<body>
    <header>
        <h1>Productos en Ofertas</h1>
    </header>
   <main>
    <article>
        <img width="380" src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
        <div class="precio"><strong>$6.770</strong></div>
        <br>
        <div><strong>40% OFF</strong></div>
        <h3>Cafetera Moulinex</h3>
    </article>
    <article>
        <img width="350" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macboock">
        <div class="precio"><strong>$230.000</strong></div>
        <br>
        <div><strong>20% OFF</strong></div>
        <h3>MacBook Pro 2019</h3>
    </article>
    <article>
        <img width="350" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
        <div class="precio"><strong>$70.500</strong></div>
        <br>
        <div><strong>10% OFF</strong></div>
        <h3>Samsung Galaxy S10</h3>
    </article>
    <article>
        <img width="350" src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv Samsung 43">
        <div class="precio"><strong>$23.200</strong></div>
        <br>
        <div><strong>5% OFF</strong></div>
        <h3>SmartTv Samsung 43</h3>
    </article>
   </main>
</body>
</html>