<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiendas Oficiales</title>
</head>
<body>
    <header>
        <h1>Tiendas Oficiales</h1>
    </header>
    <main>
        <section>
            <header>
                <h2>Tienda 1</h2>
            </header>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                In, eius nesciunt? Exercitationem ipsa dolore sit sequi laborum maxime hic animi
                provident accusantium quia nesciunt ducimus, ipsam eum vitae quae cupiditate.
            </p>
        </section>
    </main>
</body>
</html>