<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiendas Oficiales</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section class="tiendas-oficiales">
            <h1>Tiendas Oficiales</h1>
            <article class="tienda">
                <h3>Tienda 1</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    In, eius nesciunt? Exercitationem ipsa dolore sit sequi laborum maxime hic animi
                    provident accusantium quia nesciunt ducimus, ipsam eum vitae quae cupiditate.
                </p>
            </article>
            <article class="tienda">
                <h3>Tienda 2</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    In, eius nesciunt? Exercitationem ipsa dolore sit sequi laborum maxime hic animi
                    provident accusantium quia nesciunt ducimus, ipsam eum vitae quae cupiditate.
                </p>
            </article>
            <article class="tienda">
                <h3>Tienda 3</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    In, eius nesciunt? Exercitationem ipsa dolore sit sequi laborum maxime hic animi
                    provident accusantium quia nesciunt ducimus, ipsam eum vitae quae cupiditate.
                </p>
            </article>
            <article class="tienda">
                <h3>Tienda 4</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    In, eius nesciunt? Exercitationem ipsa dolore sit sequi laborum maxime hic animi
                    provident accusantium quia nesciunt ducimus, ipsam eum vitae quae cupiditate.
                </p>
            </article>
            <article class="tienda">
                <h3>Tienda 5</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    In, eius nesciunt? Exercitationem ipsa dolore sit sequi laborum maxime hic animi
                    provident accusantium quia nesciunt ducimus, ipsam eum vitae quae cupiditate.
                </p>
            </article>

        </section>
    </main>
    <footer>

    </footer>
</body>

</html>