<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender</title>
</head>

<body>
    <header>

    </header>
    <main>
        <section class="productos">
            <h1>Productos a la venta</h1>
            <article class="producto">
                <h3>Producto 1</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Facere corrupti expedita cum error blanditiis iure temporibus,
                    quas neque asperiores dolores consequuntur alias eveniet, ut amet
                    ipsum officiis fugiat nihil inventore.
                </p>
            </article>

            <article class="producto">
                <h3>Producto 2</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Facere corrupti expedita cum error blanditiis iure temporibus,
                    quas neque asperiores dolores consequuntur alias eveniet, ut amet
                    ipsum officiis fugiat nihil inventore.
                </p>
            </article>

            <article class="producto">
                <h3>Producto 3</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Facere corrupti expedita cum error blanditiis iure temporibus,
                    quas neque asperiores dolores consequuntur alias eveniet, ut amet
                    ipsum officiis fugiat nihil inventore.
                </p>
            </article>
            <article class="producto">
                <h3>Producto 4</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Facere corrupti expedita cum error blanditiis iure temporibus,
                    quas neque asperiores dolores consequuntur alias eveniet, ut amet
                    ipsum officiis fugiat nihil inventore.
                </p>
            </article>
            <article class="producto">
                <h3>Producto 5</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Facere corrupti expedita cum error blanditiis iure temporibus,
                    quas neque asperiores dolores consequuntur alias eveniet, ut amet
                    ipsum officiis fugiat nihil inventore.
                </p>
            </article>  
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>