<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender</title>
</head>

<body>
    <header>
        <h1>Productos a la Venta</h1>
    </header>
    <main>
        <section>
            <header>
                <h2>Producto 1</h2>
            </header>
            <main>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Facere corrupti expedita cum error blanditiis iure temporibus,
                    quas neque asperiores dolores consequuntur alias eveniet, ut amet
                    ipsum officiis fugiat nihil inventore.
                </p>
            </main>
        </section>
    </main>
</body>

</html>