main {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.form-container {
    width: 100%;
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

h2 {
    color: #666;
    text-align: center;
}

.form {
    display: flex;
    gap: 2em;
    flex-direction: column;
    background-color: white;
    padding: 2.5em;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-item {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.input-inline {
    display: flex;
    gap: 0.9em;
}

.input-item-checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.input-item-radio {
    display: flex;
    gap: 4em;
    justify-content: space-evenly;
    /*justify-content: space-around;*/
    align-items: center;
    /*justify-content: center;   CON ESTA QUEDA AL MEDIO EL RADIO CON DOS OPCIONES DEVICE*/
}

input {
    padding: 0.4em;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}

label,
h5 {
    color: #666;
    opacity: 0.8;
}

.title-interes {
    margin-bottom: 0.5em;
}

.buttons {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    border-radius: 5px;
    margin-top: 1.5em;
}

.button {
    width: 35%;
    /*EL ANCHO DE LOS BOTONES*/
    padding: 0.5em 0.9em 0.5em 0.9em;
    border: none;
}

.send {
    background-color: #4a4ac9;
    color: white;
    font-size: medium;
}

.delete {
    background-color: #e64646;
    color: white;
    font-size: medium;
}

.send:focus {
    background-color: #1414c5;
}

.delete:focus {
    background-color: #d91414;
}

h5 {
    font-size: 17px;
    font-weight: normal;
}

@media (min-width: 480px) {

    .form-container {
        width: 85%;
    }
}

@media (min-width:769px) {
    .form-container {
        width: 65%;
    }

    .inputs-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5em;
        /*justify-content: center;*/
    }

    .user-radio-checkbox {
        display: flex;
        flex-direction: column;
    }

    /*.personal,
    .password {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: center;
    }*/

    .personal>.input-item,
    .password>.input-item {
        width: 47%;
    }

    input:hover {
        border: 2px solid #666;
    }

    .send:hover {
        background-color: #1414c5;
    }

    .delete:hover {
        background-color: #d91414;
    }
}